workflows/n8n/incident-triage-feedback.json
{
  "name": "incident-triage-feedback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "triage-feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-feedback",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "triage-feedback"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.TRIAGE_API_BASE || 'http://host.docker.internal:8000') + '/n8n/triage-feedback' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body != null ? $json.body : $json) }}",
        "options": {}
      },
      "id": "http-feedback",
      "name": "POST triage-feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, saved: (($json.body || {}).status || $json.status) === 'logged' }) }}",
        "options": {}
      },
      "id": "respond-feedback",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "POST triage-feedback", "type": "main", "index": 0 }]]
    },
    "POST triage-feedback": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "meta": { "templateCredsSetupCompleted": true }
}
